@import "./style-guide.css";
@import "./image.css";

/* ALERT */

/* below CSS rules are also used in responsive image componet */
/* image will scale, but will not go beyond original width */
.avatar img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/*-- Round Responsive Image --*/
.avatar img{
    /* image width and height should be same to get a circle */
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

/* default avatar */
.avatar{
    max-width: 5rem;
    max-height: 5rem;
}

/* smol avatar */
.avatar-s{
    max-width: 3em;
    max-height: 3em;
}

/* medium avatar */
.avatar-m{
    max-width: 5rem;
    max-height: 5rem;
}

/* large avatar */
.avatar-l{
    max-width: 7rem;
    max-height: 7rem;
}

/*-- avatar with status badge --*/
.avatar-badge{
    position: relative;
}

.avatar-status{
    /* default status is grey */
    background: var(--grey);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

/* adjusting status badge size for other avatars */
.avatar-m > .avatar-status{
    width: 1.5rem;
    height: 1.5rem;
}

.avatar-l > .avatar-status{
    width: 2rem;
    height: 2rem;
}

