/* CARD */

/*-- Default Card Styles --*/
.card{
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-s);
    box-shadow: var(--card-shadow);
}

.card-head{
    position: relative;
    padding: 0.5em;
}

.card-icon{
    position: absolute;
    top: 1em;
    right: 1em;
}

.card-content{
    padding: 0.5em;
}

.card-option{
    margin-left: auto;
}

/*-- Overlay Card --*/
.card-overlay {
    position:relative;
}

.card-overlay .card-head{
    color: var(--background-grey);
    position: absolute;
    z-index: 1;
}

.card-overlay .card-badge{
    position: absolute;
    right: 5px;
}

/*-- Text Only Card --*/
.card-text-only{
    padding: 2em;
}

/*-- Horizontal Card --*/
.card-horizontal{
    display: grid;
    grid-template-areas: 
    "image head head head"
    "image text text text"
    "image option option option"
    ;
}

.card-horizontal > .card-img{
    grid-area: image;
    /* strectching image to fill the cell */
    display: flex;
    flex-direction: row;
}

.card-horizontal > .card-head{
    grid-area: head;
}

.card-horizontal > .card-option{
    grid-area: option;
}