/* adds basic styling */
@import "./style-guide.css";

/* GRID */

.grid{
    display: grid;
    height: 100%;
    gap: 2em;
    padding: 3em;
}

.grid>div{
    padding: 1em;
}

/* 2 column layout */
.grid-2{
    grid-template-columns: auto auto;
}

/* 3 column layout */
.grid-3{
    grid-template-columns: auto auto auto;
}


